@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;



.info-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50%;
    @include center-auto();
    .squares{
        background: $black;
    }
}